
@font-face {
    font-family: 'futura_bk_btbook';
    src: url('../fonts/1152845619-webfont.eot');
    src: url('../fonts/1152845619-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/1152845619-webfont.woff2') format('woff2'),
         url('../fonts/1152845619-webfont.woff') format('woff'),
         url('../fonts/1152845619-webfont.ttf') format('truetype'),
         url('../fonts/1152845619-webfont.svg#futura_bk_btbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ConcursoItalianBTNRegular';
    src: url('../fonts/concursoitalian-btn.eot');
    src: url('../fonts/concursoitalian-btn.eot') format('embedded-opentype'),
         url('../fonts/concursoitalian-btn.woff') format('woff'),
         url('../fonts/concursoitalian-btn.ttf') format('truetype'),
         url('../fonts/concursoitalian-btn.svg#ConcursoItalianBTNRegular') format('svg');
}

@font-face {

				font-family: 'MyriadPro-Regular';

				src: url('../fonts/myriadproregular.eot');

				src: url('../fonts/myriadproregular.eot?#iefix') format('embedded-opentype'),

						 url('../fonts/myriadproregular.woff') format('woff'),

						 url('../fonts/myriadproregular.ttf') format('truetype'),

						 url('../fonts/myriadproregular.svg#MyriadPro-Regular') format('svg');

				font-weight: normal;

				font-style: normal;

		}

@font-face {

    font-family: 'JotMediumHMKRegular';

    src: url('../fonts/jotm.eot');

    src: url('../fonts/jotm.eot') format('embedded-opentype'),

         url('../fonts/jotm.woff') format('woff'),

         url('../fonts/jotm.ttf') format('truetype'),

         url('../fonts/jotm.svg#JotMediumHMKRegular') format('svg');

}