language: python
python:
  - "3.6"
install: "pip install -r requirements.txt"
script: python build.py
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: out
  on:
    branch: master