{% extends 'base.html' %}

{% block other_head %}
    <section class="inner_area_banner fix">
        <div>
            <div class="carousal">
				<div id="home_loader" style="text-align: center;"><img src="{{ site.image_root }}/loading.gif"></div>
                    <div id="logoParadeTwo" style="display: none;">
                        <div class="scrollWrapper">
                            <div  class="scrollableArea">
                                {% for image in page.inner_slider_images %}
								<div class="sldItem">
									<img src="{{ site.image_root }}/{{ image }}" border="0">
								</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
